---
---
<footer class="py-gutter">
  <div class="flex flex-col md:flex-row justify-between items-center w-full px-margin-mobile md:px-margin-desktop max-w-container-max mx-auto gap-4 text-secondary text-sm font-body-md">
    <div>
      <p>© {new Date().getFullYear()} <a href={import.meta.env.BASE_URL} class="underline hover:text-primary dark:hover:text-primary-container transition-colors">ohwire</a>. All right reserved</p>
    </div>

    <div class="text-center md:text-right">
      <p>Learning in public since 2026.</p>
    </div>
  </div>
</footer>
